<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito de compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-item-divider color="primary">
        <ion-label> Carrito </ion-label>
      </ion-item-divider>
      <ion-col size="12" *ngFor="let product of getProductos()">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{product.name}} <ion-badge [color]="getColor(product.type)"> {{product.type}}</ion-badge> </ion-card-title>
            <ion-card-subtitle> {{product.price| currency}} {{"x "+ countProducttoCart(product) + " = "}} {{product.price*countProducttoCart(product) | currency}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{product.description}}
            <ion-button (click)="deleteProducttoCart(product)" color="danger"><ion-icon name="trash-outline"></ion-icon>Eliminar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-item-divider color="primary">
        <ion-label > Total: {{getTotal() | currency}} </ion-label>
      </ion-item-divider>
    </ion-row>
    </ion-grid>
</ion-content>
